<header class="primary-header container">
  <a href="/"><img src="/img/lastlogo.svg" class="logo" alt="Aaswad Logo" /></a>
  <nav class="primary-navigation">
    <ul role="list" class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#menu">Popular</a></li>
      <li><a href="/menu">Menu</a></li>
      <li><a href="/contact-us">Contact Us</a></li> <!-- New link to Contact Us -->

    </ul>
  </nav>
  <div class="icons">
    <a href="/menu/search" class="icon-hover"><i class="fa-solid fa-magnifying-glass icon"></i></a>
    <div class="profile">
      <div id="profileBtn" class="icon-hover"
        ><i class="fa-solid fa-user icon"></i
      ></div>
      <div class="profile__menu">
        <ul role="list" class="menu__list">
          <li><a href="#"><%= user.name %></a></li>
          <li><a href="/orders">Orders</a></li>
          <li><a href="/user/logout">Logout</a></li>
        </ul>
      </div>
    </div>
    <a href="/cart" class="cart icon-hover"
      ><i class="fa-solid fa-cart-shopping icon"></i>
      <% if(cart) {%>
        <span class="cart__count" id="cartCount"> <%= cart.items.length %> </span>
      <% }else{ %>
        <span class="cart__count" id="cartCount">0</span>
        <% } %>
    </a>
  </div>
</header>
<main>

  <section class="search container">
    <div class="search__wrapper">
      <input type="text" class="search__input" id="searchInput" name="food" placeholder="Search" spellcheck="false">
      <i class="fa-solid fa-magnifying-glass search__icon"></i>
      <ul class="search-suggestions" id="suggestionsList"></ul>
      <div class="search-loading">
        <i class="fa-solid fa-spinner fa-spin"></i>
      </div>
    </div>

  </section>
  
  <section class="result container" id="resultSection">
    <div class="menu__grid" id="resultGrid">
      <!-- Results will be dynamically populated here -->
    </div>
  </section>
  

  <section class="featured-items container">
    <h3>Featured Items</h3>
    <div class="menu__grid">
      <div class="menu-item">
        <img src="/img/menu/dhokla.webp" alt="Featured Item 1" class="menu-img">
        <p>Dhokla</p>
      </div>
      <div class="menu-item">
        <img src="/img/menu/pav_bhaji.webp" alt="Featured Item 2" class="menu-img">
        <p>Pav Bhaji</p>
      </div>
      <div class="menu-item">
        <img src="/img/menu/gulab_jamun.webp" alt="Featured Item 3" class="menu-img">
        <p>Gulab Jamun</p>
      </div>
      <div class="menu-item">
        <img src="/img/menu/red_sauce_pasta.webp" alt="Featured Item 4" class="menu-img">
        <p>Pasta</p>
      </div>

      <div class="menu-item">
        <img src="/img/menu/pakode.webp" alt="Featured Item 4" class="menu-img">
        <p>Pakode</p>
      </div>

      <div class="menu-item">
        <img src="/img/menu/cold_coffee.webp" alt="Featured Item 4" class="menu-img">
        <p>Cold Coffee</p>
      </div>
      <div class="menu-item">
        <img src="/img/menu/salad.webp" alt="Featured Item 4" class="menu-img">
        <p>Salad</p>
      </div>
      <div class="menu-item">
        <img src="/img/menu/french_fries.webp" alt="Featured Item 4" class="menu-img">
        <p>French Fries</p>
      </div>

      <!-- Add more featured items here if needed -->
    </div>
  </section>
  
  <!-- Modal/Lightbox for image -->
  <div id="imageModal" class="modal">
    <div class="modal-content-container">
      <span class="close">&times;</span>
      <img class="modal-content" id="modalImage">
      <div id="caption"></div>
    </div>
  </div>
    
  
  
</main>


<!-- Scrips -->
<script src="/js/search.js"></script>
